adium-theme-ubuntu==0.3.4
alembic==1.0.6
aniso8601==4.1.0
argcomplete==1.8.2
argh==0.26.1
asn1crypto==0.24.0
astroid==1.6.5
auth==0.5.3
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
beautifulsoup4==4.5.3
blessings==1.6
blinker==1.4
bpython==0.15
bs4==0.0.1
cachetools==3.1.1
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
configparser==3.5.0
cryptography==2.7
curtsies==0.2.6
cycler==0.9.0
daemon==1.2
dateparser==0.7.1
decorator==4.0.6
dnspython==1.16.0
docutils==0.14
docx2txt==0.6
EbookLib==0.15
ecdsa==0.13
enum34==1.1.6
eventlet==0.25.0
fake-factory==0.7.2
Faker==0.7.3
falcon==2.0.0
flake8==3.6.0
Flask==1.0.2
Flask-RESTful==0.3.7
futures==3.2.0
ghostscript==0.6
gmplot==1.2.0
google-api-python-client==1.7.9
google-auth==1.6.3
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.0
greenlet==0.4.9
gunicorn==19.9.0
handwritingio==1.0.0
httplib2==0.13.0
idna==2.8
img2pdf==0.3.3
imutils==0.5.2
inflect==2.1.0
invoice2data==0.3.3
ipaddress==1.0.22
iso-639==0.4.5
iso3166==1.0
isodate==0.6.0
isort==4.3.4
itsdangerous==1.1.0
jedi==0.13.2
Jinja2==2.10
lazy-object-proxy==1.3.1
livestreamer==1.12.2
lockfile==0.12.2
lunaticlog==0.1.2
lxml==4.3.0
Mako==1.0.7
MarkupSafe==1.1.0
matplotlib==1.5.1
mccabe==0.6.1
mongoengine==0.18.2
monotonic==1.5
mysql-connector==2.2.9
mysql-connector-python==2.0.4
mysql-utilities==1.6.1
mysqlclient==1.3.7
ndg-httpsclient==0.4.0
nltk==3.4
numpy==1.16.0
nutritionix==0.2
oauth2client==4.1.3
oauthlib==3.0.2
pandas==0.23.4
paramiko==1.16.0
parso==0.3.1
pathtools==0.1.2
patsy==0.5.1
pdfminer==20140328
pdftotext==2.1.1
pexpect==4.0.1
pika==1.0.1
Pillow==3.1.2
ply==3.7
pocketsphinx==0.1.3
psycopg2==2.7.6.1
psycopg2-binary==2.7.6.1
ptyprocess==0.5
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.4.0
pycparser==2.14
pycrypto==2.6.1
pycryptodome==3.8.2
pycurl==7.43.0
PyDrive==1.3.1
pyflakes==2.0.0
Pygments==2.1
pymongo==3.8.0
PyMySQL==0.7.2
pyodbc==3.0.7
pyOpenSSL==19.0.0
pyparsing==2.0.3
pyPdf==1.13
PyPDF2==1.26.0
pyRFC3339==1.1
PySocks==1.7.0
pysqlite==2.7.0
pytesseract==0.2.6
python-apt==1.1.0b1+ubuntu0.16.4.5
python-daemon==2.2.3
python-dateutil==2.7.5
python-editor==1.0.3
python-librtmp==0.3.0
python-pptx==0.6.5
pytz==2016.7
PyYAML==3.11
regex==2019.2.21
requests==2.22.0
requests-oauthlib==1.2.0
rsa==4.0
schedule==0.6.0
scikit-learn==0.20.3
scipy==0.17.0
scour==0.32
scraperwiki==0.5.1
singledispatch==3.4.0.3
six==1.12.0
sklearn==0.0
SpeechRecognition==3.6.3
SQLAlchemy==1.2.16
statistics==1.0.3.5
statsmodels==0.9.0
streamlink==1.1.1
textract==1.6.1
tornado==4.2.1
tzlocal==1.3
Unidecode==1.0.23
unity-lens-photos==1.0
uritemplate==3.0.0
urllib3==1.25.3
urwid==1.3.1
virtualenv==15.0.1
watchdog==0.8.3
wcwidth==0.1.6
websocket-client==0.56.0
Werkzeug==0.14.1
wrapt==1.11.1
xlrd==1.0.0
XlsxWriter==1.1.2
